# Created by https://www.richie-bendall.ml/gitattributes-generator/
# End of https://www.richie-bendall.ml/gitattributes-generator/

#.github export-ignore
#examples export-ignore
#.editorconfig export-ignore
#.gitignore export-ignore
#.gitattributes export-ignore
#CODEOWNERS export-ignore
#*.md export-ignore
