parameters:
	ignoreErrors:
		-
			message: '#^Method IWFWeb\\JsonRequestCheckBundle\\Attribute\\JsonRequestChecker\:\:getPriority\(\) should return string but returns int\.$#'
			identifier: return.type
			count: 1
			path: src/Attribute/JsonRequestChecker.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Check/Checks/MaxContentLengthChecker.php

		-
			message: '#^Parameter \#1 \$controllerClassAndAction of method IWFWeb\\JsonRequestCheckBundle\\Provider\\MaxContentLengthValueProvider\:\:getMaxContentLengthValue\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Check/Checks/MaxContentLengthChecker.php

		-
			message: '#^Invalid type object to throw\.$#'
			identifier: throw.notThrowable
			count: 1
			path: src/Check/JsonRequestCheckersChain.php

		-
			message: '#^Method IWFWeb\\JsonRequestCheckBundle\\DependencyInjection\\Compiler\\JsonRequestCheckersPass\:\:collectJsonRequestCheckers\(\) should return array\<string, list\<array\<string, mixed\>\>\> but returns non\-empty\-array\<string, array\>\.$#'
			identifier: return.type
			count: 1
			path: src/DependencyInjection/Compiler/JsonRequestCheckersPass.php

		-
			message: '#^Call to an undefined method Exception\:\:getId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Compiler/MaxContentLengthValuePass.php

		-
			message: '#^Instanceof between IWFWeb\\JsonRequestCheckBundle\\Attribute\\JsonRequestCheck and IWFWeb\\JsonRequestCheckBundle\\Attribute\\JsonRequestCheck will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/DependencyInjection/Compiler/MaxContentLengthValuePass.php

		-
			message: '#^Parameter \#2 \$className of method IWFWeb\\JsonRequestCheckBundle\\DependencyInjection\\Compiler\\MaxContentLengthValuePass\:\:processClassMethods\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/Compiler/MaxContentLengthValuePass.php

		-
			message: '#^Parameter \$id of class Symfony\\Component\\DependencyInjection\\Exception\\ServiceNotFoundException constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/Compiler/MaxContentLengthValuePass.php

		-
			message: '#^Variable \$classMapKey might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/DependencyInjection/Compiler/MaxContentLengthValuePass.php

		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/IWFJsonRequestCheckExtension.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/EventSubscriber/JsonRequestCheckSubscriber.php

		-
			message: '#^Parameter \#5 \$code of method Symfony\\Component\\HttpKernel\\Exception\\HttpException\:\:__construct\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Exception/ContentLengthMismatchException.php

		-
			message: '#^Property IWFWeb\\JsonRequestCheckBundle\\Exception\\PayloadTooLargeException\:\:\$allowedLength \(int\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Exception/PayloadTooLargeException.php

		-
			message: '#^Property IWFWeb\\JsonRequestCheckBundle\\Exception\\PayloadTooLargeException\:\:\$receivedLength \(int\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Exception/PayloadTooLargeException.php
